#board-container {
  caret-color: transparent;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    outline: none;
  }

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px;
    margin-bottom: 3rem;
    gap: 20px;
    padding: 20px 0;
    max-width: 500px;
    width: 100%;
  }

  .message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: rgba(58, 58, 58, 0.9);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;

    & h2 {
      font-weight: 500;
      margin-block-start: 0.50em;
      margin-block-end: 0.50em;
    }
  }
  
  .message button {
    background-color: #E9762B;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .message button:hover {
    background-color: #c46425;
  }

  @media (max-width: 1300px) {
    .message {
      background-color: rgba(58, 58, 58, 0.7);
    }
  }
  
  @media (max-width: 500px) {
    .message {
      background-color: rgba(58, 58, 58, 0.7);
    }
  }
  
  @media (max-width: 400px) {
    .message {
      background-color: rgba(58, 58, 58, 0.7);
    }
  }